ExpressionTreeSerialization-not-modified/RemoteQueryService/Service References/ServiceReference/NorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" name="NorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22630/Service/NorthwindService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22630/Service/NorthwindService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22630/Service/NorthwindService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:22630/Service/NorthwindService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:22630/Service/NorthwindService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_ExecuteQueryForCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForCustomers" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForOrders" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForObjects" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForCustomer" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForOrder" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForObject_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForObject" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_ExecuteQueryForObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryForObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="ExecuteQueryForCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForCustomers" message="tns:INorthwindService_ExecuteQueryForCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForCustomersResponse" message="tns:INorthwindService_ExecuteQueryForCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForOrders" message="tns:INorthwindService_ExecuteQueryForOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForOrdersResponse" message="tns:INorthwindService_ExecuteQueryForOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForObjects" message="tns:INorthwindService_ExecuteQueryForObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForObjectsResponse" message="tns:INorthwindService_ExecuteQueryForObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForCustomer" message="tns:INorthwindService_ExecuteQueryForCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForCustomerResponse" message="tns:INorthwindService_ExecuteQueryForCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForOrder" message="tns:INorthwindService_ExecuteQueryForOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForOrderResponse" message="tns:INorthwindService_ExecuteQueryForOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForObject">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForObject" message="tns:INorthwindService_ExecuteQueryForObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/ExecuteQueryForObjectResponse" message="tns:INorthwindService_ExecuteQueryForObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INorthwindService" type="tns:INorthwindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteQueryForCustomers">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForOrders">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForObjects">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForCustomer">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForOrder">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQueryForObject">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/ExecuteQueryForObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindService">
    <wsdl:port name="BasicHttpBinding_INorthwindService" binding="tns:BasicHttpBinding_INorthwindService">
      <soap:address location="http://localhost:22630/Service/NorthwindService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>